//META{"name":"Carisus","description":"Carisus Personal Theme","author":"Carisus","version":"1.0"}*//

/*

        Black behind everything

*/
.scroller-wrap .scroller {
  background-color: #000;
}

.app {
  overflow-x:hidden!important
}

/*

        KeyFrame Storage

*/

@keyframes selectedflash {
  0%		{color:	red;}
  25%		{color:	transparent;}
  50%		{color:	red;}
  75%		{color:	transparent;}
  100%	{color:	red;}
}

@keyframes flashunread {
  0% {color: transparent;}
  25% {color: red;}
  45% {color: red;}
  50% {color: transparent;}
  55% {color: red;}
  75% {color: red;}
  100% {color: transparent;}
}

@keyframes hoverflash {
	0%		{color:	red;}
	25%		{color:	transparent;}
	50%		{color:	red;}
	75%		{color:	transparent;}
	100%	{color:	red;}
}

@keyframes flash {
  0% {color: red;}
  48% {color: red;}
  50% {color: transparent;}
  52% {color: red;}
  100% {color: red;}
}

/*

        Header

*/

.theme-dark .chat .title-wrap {
  background-color: #f00;
}

.theme-dark .chat .title-wrap .topic {
  color: #fff!important;
}

/*

        Guild List

*/

.guild-header header:hover,
.guilds-wrapper .guilds .friends-icon:hover,
.guilds-wrapper .guilds .guild .guild-inner,
.guilds-wrapper .guilds .friends-online,
.guilds-wrapper .guilds {
  background-color: #000;
}

.guilds-wrapper .guilds-add {
  background: #f00;
  color: #000;
}

.guilds-wrapper .guilds {
  border-right: 1px solid #f00;
}

.guilds-wrapper .guilds .friends-icon {
  background-color: #f00;
}

.guilds-wrapper .guilds .friends-online {
  color: #fff!important;
}

.guilds-wrapper .guilds .guild.unread:before,
.guilds-wrapper .guilds .guild.selected:before,
.guild-header header {
  background-color: #f00;
}

/*

        Channels List

*/

.guild-channels .channel-voice-states li.speaking .avatar-small {
  border: 2px solid #f00;
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.guild-channels header {
  background-color: #f00;
  opacity: 0.8;
  text-align: center;
}

.dropdown-button {
  opacity: 1;
  background-color: #000;
}

.guild-channels .channel-text.selected:before,
.guild-channels .channel-voice.audio a {
  border-left: 4px solid;
  border-radius: 7px;
  animation-name: flash;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  background: transparent;
}

.guild-channels .channel-voice:hover,
.guild-channels .channel-text:hover a {
  background-color: #171717;
	border: 3px solid;
	border-radius: 6px;
	animation-name: hoverflash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.guild-channels .channel .channel-name:hover {
  color: #f00;
}

.guild-channels .channel-voice .channel-arrow:hover {
  background-color: #f00;
}

.guild-channels .channel-text.selected a {
  background-color: #040404;
  text-shadow: 0 1px 1px rgba(255, 0, 0, 0.25);
  color: #f00;
}

.guild-channels .channel-text.channel-muted:not(.selected) span{
  color: #0600ff;
}

.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
  color: #f00;
  opacity: .1;
}

.guild-channels .channel-text.unread:not(.selected):not(.channel-muted) a {
  border-left: 4px solid;
  border-right: 4px solid;
  border-radius: 7px;
  animation-name: flashunread;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background: transparent;
}

.guild-channels {
  border-left: 1px solid #f00;
}

/*
                                                              __
                    HOW DINOSAURS BECAME EXTINCT!       _   .'.-'.
                                                      .'-'. ||  ||
                                                  _   || || :\_.'/
                               .-.       ___    .'-.\ :\_'/  `-'`
                              _L o|_.-'``   '-. ;\_'/  `-`
                            _f o\-'          /_. `-`
                        ,-'` '-'              /
                       /                    .'
                      |                   .'                .--.
                       \              _.-'                  `-' |
                        |        __.-'                     .- '`
                       ,-.     "`|                        |
                      /  |       |                         '-.
                      \_ |       |              _  .-.      _ "
                       /`|       |             ' . ' |  _.-"GP`
                      |  |       ;              \ \| |-' _.-"`
                      \_ |        ;           _,-'`| |.-'
                       /`|        |          ()_,.-j f.-.
                      |  |        |           .'`) (_.-.j
                      \_ ;        ;          (  <   (__.'
                       / '        ;           \  '    /
                      |   |        \          /      ;
                       \_ |         `'--.___.'       |
                      /` .'                          ;
                      \.'                  _        /
                      /                     `.    .'
                    .'                        \.-'
                   /                           `.
                  ;                              \
                  |                               '
                  '         /                      \
                 ;         /                        \
                 |        Y                          ;
                 ;         \                          .
                 '        t-'                         ;
                  \  \  \  \                          ;
                  7`._f_.`-'                          |
                  \_|                                 |
                  /`|                                 ;
                  \_;                                 '
     .-.          f  '                               /
  .'  ,-`          \_|                              /
 /   |     _  __ .-7 /                            .'
 |    `-.r'_'Y__\L.-'                          _.'
 '                        ;              _..--' |
  `.                      ,              |      '.
    `-._                 /|              '.       \______
        `'"--..._____..-' '--...__         \------'
  _______________________________ `'-------'__________

*/

.notice.notice-info {
  animation-name: flashunread;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  background-color: #000;
}

.chat .new-messages-bar button {
  background-color: #ff0000;
}

.chat.flex-vertical.flex-spacer>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical {
  margin-right: -150px !important;
  z-index: 1!important;
}

.chat .new-messages-bar button:last-child,
.markdown-modal .scroller-wrap .scroller {
  color: #fff!important;
}

/*

        Account Details

*/

#voice-connection,
.account {
  background-color: #000000;
  border-top: 1px solid #ff0000;
  border-right: 1px solid #ff0000;
  border-left: 1px solid #ff0000;
}

#voice-connection .btn-group,
.account .btn {
  background-color: #171717;
}

.account .btn-group,
.account .btn-mute:after,
.account .btn-deafen:after,
.account .btn-settings:after {
  background-color: #f00;
}

.account .btn-mute:after {
  opacity: 1!important;
}
.account .btn-deafen:after {
  opacity: 1!important;
}
.account .btn-settings:after {
  opacity: 1!important;
}

#voice-connection .btn-disconnect:after {
  background-image: url(https://imgur.com/eXhdq5J.png);
  background-size: 24px 24px;
}

#voice-connection .btn-disconnect:after,
#voice-connection .btn-info:after {
  opacity: 1;
}

#voice-connection .btn:after {
  background-color: #000;
}

/*

        Chat Messages Section

*/

.theme-dark .channel-textarea-inner {
  border-color: #ff0000;
}

.chat .messages {
  background: url(https://i.imgur.com/T6dv02l.png)!important;
  background-size: 100% 100%!important;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.message-group .mentioned .message-text:after {
  border-left-color: #f00;
}

.chat.flex-vertical.flex-spacer>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical {
  border-left: 1px solid #f00;
}

.theme-dark .chat form .typing {
  background-color: #ff0000;
  opacity: 0.7;
}

.theme-dark .message-group .comment .markup .highlight {
  color: #f00;
  background-color: #000;
}

.theme-dark .messages-wrapper .messages .divider:not(.red) div,
.theme-dark .messages-wrapper .messages .divider:not(.red) span {
  color: #f00!important;
}

.message-group h2 .timestamp {
  color: #f00!important;
  opacity: .9;
  background: #000;
}

.messages-wrapper .messages .divider:not(.red) div {
  background: none!important;
}

/*

        Channel Members

*/

.theme-dark .channel-members h2 {
  color: #ff0000;
  text-align: center;
}

.channel-members {
  transform: translate(150px)!important;
  z-index: 2!important;
  transition: all 300ms ease!important;
}

.channel-members:hover {
animation:member 300ms ease!important;
transform:translate(0px)!important;
background:#000!important
}

.theme-dark .channel-members {
  border-left: 1px solid #f00;
}

.theme-dark .channel-members {
  background-color: #000;
}

.channel-members .member:hover {
	border: 3px solid;
	border-radius: 6px;
	animation-name: hoverflash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

/*Make it slide over*/
.channel-members {
  transform:translate(150px)!important;
  z-index:2!important;
  transition:all 300ms ease!important
}

.channel-members:hover {
  background:#000!important
  animation:member 300ms ease!important;
  transform:translate(0px)!important;
}

.channel-members .member .member-activity,
.channel-members .member .member-username-inner {
  opacity:0!important;
  transition:opacity 300ms ease, margin 100ms ease!important
}

.channel-members .member .member-username-inner {
  margin-bottom:0px!important
}

.channel-members:hover .member .member-activity,
.channel-members:hover .member .member-username-inner {
  opacity:1!important
}

.header-toolbar button.active {
  display:none!important
}

.channel-members h2 {
  transform-origin:right!important;
  transform:scale(0)!important;
  margin-top:-25px!important;
  transition:all 300ms ease!important
}

.channel-members:hover h2 {
  transform:scale(1)!important;
  margin:inherit!important
}

.chat.flex-vertical.flex-spacer>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical {
  margin-right:-150px!important;
  z-index:1!important
}

.chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical {
  margin-right:0px!important;
  z-index:1!important;
  box-shadow:inset 10px 10px 5px -6px rgba(0,0,0,1)!important
}

div.chat.flex-vertical.flex-spacer.private .channel-members-wrap {
  margin-left:-150px
}

/* | / - \ | */

.theme-dark .channel-members .member.popout-open {
	background-color: #000;
	border: 3px solid;
	border-radius: 6px;
	animation-name: selectedflash;
	animation-duration: 5s;
	animation-iteration-count: infinite;
  }

/*

        Pop Outs

*/

/*Avatar Popout*/
.user-popout .avatar-wrapper .avatar-popout {
  border: 3px solid #f00;
  background-color: #000;
}

div.status.status-idle {
  background-color: #0022ff;
}

div.status.status-online {
  background-color: #00ff11;
}

div.status.status-offline {
  background-color: #f00;
}

/*Discord Alerts Popouts*/
.alert.form .form-inner .btn,
.alert.form .form-inner .btn:hover {
  border: none!important;
}

.alert.form .form-inner .btn:hover {
  background-color: #000;
}

/*voice Connection Information*/
.popout header {
  background-color: #000;
  border: 1px solid #f00;
}

#voice-connection-popout section {
  border: 1px solid #f00;
}

#voice-debug-modal #users-section .selected-user .scroller,
#voice-debug-modal #users-section .user-list .scroller {
  background: none!important;
}

/*User Settings Popout*/
.callout-backdrop {
  background-image: url(https://i.imgur.com/wGVB6oq.png);
  opacity: 1!important;
}

.change-log.markdown-modal .scroller-wrap .scroller,
.settings .settings-inner .settings-panel-with-header,
.settings-connections-wrapper .user-settings-modal-connections .user-settings-modal-connections-list,
.user-settings-modal .settings-wrapper {
  background-color: #fff;
}

.user-popout .header {
  background: #000!important;
  box-shadow: none;
  border: 3px solid #ff0000;
}

.radio .radio-inner span:after,
#overlay-explanation,
.user-settings-modal-keybinds .user-settings-modal-keybinds-header .btn-add-keybind {
  background: #f00;
}

.tab-bar.SIDE .tab-bar-item.selected:before {
  border-left: 4px solid;
  border-radius: 7px;
  animation-name: flash;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  background: transparent;
}

.tab-bar.SIDE .tab-bar-item:hover {
	background-color: #171717;
	border: 3px solid;
	border-radius: 6px;
	animation-name: hoverflash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.tab-bar.SIDE .tab-bar-item.selected {
  color: #f00!important;
}

.tab-bar.SIDE .tab-bar-item {
  color: #fff!important;
}

.tab-bar.SIDE .tab-bar-item:before {
  border-left: none;
}

.slider-bar-fill,
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
  background-color: #000;
  border-color: #f00;
}

.radio-theme input[type=radio]:checked~label {
  border-color: #f00;
}

#settings-roles .selected-role .selected-role-inner,
#settings-roles .roles .scroller,
.user-settings-modal-games .games-table .flex-v-center,
.form .control-group+.control-group,
.form .control-group+.control-groups,
.settings .settings-inner .settings-panel,
.bda-slist .bda-description {
  background-color: #fff;
}

#settings-roles .selected-role .selected-role-inner {
  border-bottom: #fff;
}

.tab-bar.SIDE,
.form .form-header,
.flex-vertical {
  background-color: #000;
}

.accessory!important {
  color: #ff0000;
}

.form .btn-primary,
.form-header {
  background-color: #ff0000;
}

/*

        Friends Section

*/

.theme-dark #friends .friends-table .friends-table-header .friends-column {
  color: #f00;
  opacity: 1;
}

.private-channels .search-bar {
  background-color: #f00;
}

.search-bar input {
  color: #fff;
}

.search-bar .search-bar-inner {
  background-color: #000;
}

.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
  background-color: #f00;
}

.theme-dark #friends .friends-table .friends-table-header {
  background-color: #000
}

.theme-dark #friends .friends-header {
  background-color: #f00;
  border-bottom: #000;
}

.theme-dark #friends .friends-header .tab-bar .tab-bar-item {
  color: #fff;
  opacity: 1!important;
}

.header-toolbar button span {
  opacity: 1;
}

.win-buttons.win-buttons-light .win-minimize {
  opacity: 1;
}

.win-buttons.win-buttons-light .win-maximize {
  opacity: 1;
}

.win-buttons.win-buttons-light .win-close {
  opacity: 1;
}

.theme-dark #friends .friends-header .tab-bar .tab-bar-item:hover {
  background-color: #000;
	border: 3px solid;
	border-radius: 6px;
	animation-name: hoverflash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
