//META{"name":"Umbra","description":"Umbra Personal Theme","author":"Carisus","version":"0.1"}*//

/*
    All things Black
*/
.scroller-wrap .scroller,
.tab-bar.SIDE,
.guilds-wrapper .guilds .friends-icon:hover,
.guild-header header:hover,
.form .form-header,
.dropdown-button,
.theme-dark .channel-members,
.theme-dark .chat form,
.guilds-wrapper .guilds .guild .guild-inner,
.guilds-wrapper .guilds .friends-online,
.flex-vertical {
  background-color: #fff;
}

#voice-connection,.account {
  background: #fff;
  border-top: 1px solid #FFB900;
  border-right: 1px solid #FFB900;
}
.accessory!important {
  color: #FFB900;
}

.theme-dark .channel-members,
.chat .messages {
  border: 1px solid #FFB900;
}
.guild-channels header {
  background-color: #FFB900;
  opacity: 0.8;
  text-align: center;
}

/*
    All things Red
*/
.form .btn-primary,
.account .btn-group,
.form-header,
.theme-dark .chat .title-wrap,
.guild-header header,
.guilds-wrapper .guilds,
.theme-dark .messages-wrapper .messages .divider:not(.red) div{
  background-color: #FFB900;
}

#voice-connection .btn-group,.account .btn {
  background-color: #171717;
}

.tab-bar.SIDE .tab-bar-item.selected,
.guild-channels .channel-text.selected:before,
.guild-channels .channel-voice.audio a {
  border-left: 4px solid;
  border-radius: 7px;
  animation-name: flash;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  background: transparent;
}
@keyframes flash {
  0% {color: red;}
  48% {color: red;}
  50% {color: transparent;}
  52% {color: red;}
  100% {color: red;}
}

.guild-channels .channel-voice:hover,
.tab-bar.SIDE .tab-bar-item:hover,
.guild-channels .channel-text:hover a {
	background-color: #171717;
	border: 3px solid;
	border-radius: 6px;
	animation-name: hoverflash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes hoverflash
{
	0%		{color:	red;}
	25%		{color:	transparent;}
	50%		{color:	red;}
	75%		{color:	transparent;}
	100%	{color:	red;}
}

.guild-channels .channel .channel-name:hover {
  color: #FFB900;
}

.guilds-wrapper .guilds .guild.unread:before,
.guilds-wrapper .guilds .guild.selected:before {
  background-color: #000
}

.guild-channels .channel-text.selected a {
  background-color: #040404;
  text-shadow: 0 1px 1px rgba(255, 0, 0, 0.25);
  color: #FFB900;
}

.theme-dark .chat form .typing {
  background-color: #FFB900;
  opacity: 0.7;
}
.theme-dark .channel-textarea-inner {
  border-color: #FFB900;
}
/*
    All things White
*/
.theme-dark .chat .title-wrap .topic,
.guilds-wrapper .guilds .friends-online,
.markdown-modal .scroller-wrap .scroller,
.settings .settings-inner .settings-panel {
  color: #fff;
}

.theme-dark .channel-members h2 {
  color: #FFB900;
  text-align: center;
}

.form .control-group+.control-group, .form .control-group+.control-groups {
  background-color: #fff;
}

.guilds-wrapper .guilds-add {
  background: #000000;
  color: #FFB900
}
